<!DOCTYPE html! >
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/owl.carousel.css">
		<link rel="stylesheet" href="css/owl.theme.css">		
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<style>
		@import url(http://fonts.googleapis.com/earlyaccess/notosanskufiarabic.css);
		</style>	


		<!--[if lt IE 7]>
			  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
		<!--[if lt IE 8]>
			  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
		<!--[if lt IE 9]>
			  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->

		
	</head>
	

	<body style="overflow-x: hidden;" class="dark">
			<header>
			
			
				<nav class="navbar  navbar-default nav-down" role="navigation">
					<!-- Brand and toggle get grouped for better mobile display -->
					 <div class="container">
					<div class="navbar-header" >
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					       
						<img src="img/logo.png">
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
					  <ul class="nav navbar-nav navbar-left">
						<li><a href="index.html">الرئيسية</a></li>
						<li><a href="about.html">عنا</a></li>
						<li><a href="news.html">الاخبار</a></li>
						<li><a href="bwaba.html">البوابة</a></li>
					  
					   
					  </ul>
					  </div>
					</div><!-- /.navbar-collapse -->
				  </nav>
			</header>
			<div class="wrapper">
				<div class="banar text-center">
					<div class="container">
						<h1>يتلونه حق تلاوته</h1>
						<h2>تعليم قراءة القرآن الصحيحة</h2>
											
						<h4>الآن يمكنك تعلم القراءة الصحيحة للقرآن الكريم من خلال الاستماع إلى القرّاء المجيدين عن بعد وعلي مدار الساعة</h4>
					</div>
				</div>
					<div class="container ">
						<nav aria-label="breadcrumb">
						  <ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
							<li class="breadcrumb-item"><a href="#">الاخبار</a></li>
							<li class="breadcrumb-item active" aria-current="page">فتح مكتبة متخصصة في علوم القرآن</li>
						  </ol>
						</nav>
						<div class="s-news">
							<h3 class="text-center">إدارة شؤون المصاحف والكتب تستضيف المشاركين في مسابقة الملك عبد العزيز الدولية</h3>
							<span class="text-center"><i class="fa fa-clock-o"></i>الساعه (١٠:١٨) صباحا - الأحد ١٥ / أكتوبر / ٢٠١٧</span>
							<div id="owl-demo3" class="owl-carousel text-center" style="direction: ltr;">

								<div class="item "><a href="">
									 <div class="boximg ">
										
										<img src="img/1.jpg" alt="slide1">
									</div></a>
								</div>
									 
								<div class="item "><a href="">
									 <div class="boximg ">
									
									   <img src="img/2.jpg" alt="slide1">
									</div></a>
								</div>
								<div class="item "><a href="">
									<div class="boximg ">
									 
									   <img src="img/3.jpg" alt="slide1">
									</div></a>
								</div>

								<div class="item "><a href="">
										
									<div class="boximg ">
											
										<img src="img/4.jpg" alt="slide1">
									</div></a>
								</div>

								<div class="item "><a href="">
									<div class="boximg ">
											
										<img src="img/3.jpg" alt="slide1">
									</div></a>
								</div>
								<div class="item "><a href="">
									<div class="boximg ">
											
									   <img src="img/4.jpg" alt="slide1">
									</div></a>
								</div>
							</div>
							<p>يتوافد المشاركين في مسابقة الملك عبد العزيز الدولية لحفظ القرآن الكريم وتفسيره خلال وجودهم في المسجد الحرام بأن يطلعوا على ما تقدمه الرئاسة العامة لشؤون المسجد الحرام والمسجد النبوي من خدمات جليلة تخدم القرآن وأهله في كل الجوانب ، بدأ بتوفير المصاحف وانتهاءً بحفظه وتعلمه وتعلم أحكامه وإتقانه.</p>


							<p>هذا وقد استضافت إدارة شؤون المصاحف والكتب عددا من المشاركين في مسابقة الملك عبد العزيز الدولية وأطلعتهم على جميع البرامج والأنشطة القرآنية بما فيها مقرأة الحرمين الشريفين وحلقات تعليم القرآن الكريم بجميع مساراتها وكذلك إهداءات الإدارة من مصاحف وكتب.</p>

							</p>يذكر أن هذه المشاركة تأتي وفق توجيه معالي الرئيس العام لشؤون المسجد الحرام والمسجد النبوي الشيخ الدكتور عبد الرحمن بن عبد العزيز السديس ومعالي نائبه لشؤون المسجد الحرام الشيخ الدكتور محمد بن ناصر الخزيم في إبراز الجهود التي تقدمها حكومة خادم الحرمين الشريفين في العناية بالقرآن الكريم .</p>


							</p>
							<div class="soch text-center">
								<h4>يمكنك نشر الخبر عبر الشبكات الاجتماعية</h4>
								<a class="twe btn" href="">twitter<i class="fa fa-twitter fa-lg"> </i> </a>
								<a class="face btn" href="">facebook<i class="fa fa-facebook fa-lg"> </i></a>
							
							</div>
						</div>
					</div>	

					
					
				
				
					
				</div>
				<div class="clearfex"></div>
		
				<footer>
					<div class="container">
					<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="list-unstyled">
								<h5>عنوان</h5>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="list-unstyled">
								<h5>عنوان</h5>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="list-unstyled">
							<h5>عنوان</h5>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="list-unstyled">
							<h5>عنوان</h5>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
								<li><a href="">رابط</a></li>
							</div>
						</div>
					</div>
					<div class="copy text-center">
						<h6>© كافة الحقوق محفوظة لمقرأة الحرمين 2018</h6>
					</div>					
				</footer>	
				  
			  <!-- Start Scroller -->
			
				<div id="elevator_item" style="display: block;"> 
						<a id="elevator" onclick="return false;" title="Back To Top"></a> 
				</div>
			
			<!-- End Scroller -->
			<script src="js/jquery.js"></script>
			<script src="js/bootstrap.min.js"></script>
			<script src="js/owl.carousel.js"></script>
			<script src="js/plug.js"></script>
			

	</body>
</html>